---
const width = 565;
const height = 500;

---
<div class="w-[350px] xl:w-[400px] flex relative justify-center items-center">
  <span></span>
  <svg width={width} height={height} viewBox={`0 0 ${width} ${height}`} fill="none"  class="w-full">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M340.564 60.9449C316.953 24.6065 271.462 0 219.217 0C142.688 0 80.6485 52.7995 80.6485 117.931C80.6485 121.567 80.8418 125.164 81.2202 128.716C35.093 136.66 0 176.859 0 225.255C0 279.359 43.86 323.218 97.964 323.218H466.576C520.68 323.218 564.54 279.359 564.54 225.255C564.54 172.623 523.035 129.686 470.97 127.388C473.643 120.7 475.093 113.532 475.093 106.076C475.093 69.5468 440.298 39.9344 397.377 39.9344C374.954 39.9344 354.748 48.0166 340.564 60.9449Z" fill="#1B1B1B"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M329.574 79.3932C310.194 49.5664 272.855 29.3691 229.972 29.3691C167.156 29.3691 116.233 72.7074 116.233 126.168C116.233 129.152 116.392 132.105 116.703 135.02C78.841 141.541 50.0364 174.537 50.0364 214.26C50.0364 258.669 86.0371 294.67 130.446 294.67H433.006C477.415 294.67 513.416 258.669 513.416 214.26C513.416 171.06 479.348 135.817 436.613 133.93C438.807 128.441 439.997 122.557 439.997 116.437C439.997 86.4538 411.437 62.1476 376.207 62.1476C357.802 62.1476 341.217 68.7816 329.574 79.3932Z" fill="#222222"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M117.477 180.6C117.477 173.973 122.849 168.6 129.477 168.6H431.8C438.427 168.6 443.8 173.973 443.8 180.6V238.181C443.8 244.809 438.427 250.181 431.8 250.181L380.711 250.181V261.059H337.201V250.181H221.9V261.059H178.39V250.181L129.477 250.181C122.849 250.181 117.477 244.809 117.477 238.181V180.6Z" fill="url(#paint0_linear_145_39)"/>
    <circle cx="390.5" cy="214.286" r="16.3162" fill="#141414"/>
    <circle cx="279.55" cy="214.286" r="16.3162" fill="#141414"/>
    <circle cx="335.025" cy="214.286" r="16.3162" fill="#141414"/>
    <rect x="155.548" y="194.706" width="13.0529" height="39.1588" rx="6.52647" fill="#141414"/>
    <rect x="227.339" y="194.706" width="13.0529" height="39.1588" rx="6.52647" fill="#141414"/>
    <rect x="191.443" y="194.706" width="13.0529" height="39.1588" rx="6.52647" fill="#141414"/>
    <line x1="280.05" y1="249.094" x2="280.05" y2="444.888" stroke="white"/>
    <mask id="path-11-inside-1_145_39" fill="white">
    <path d="M63.0891 391.623C63.0891 384.996 68.4617 379.623 75.0891 379.623H486.187C492.814 379.623 498.187 384.996 498.187 391.623V432.888C498.187 439.515 492.814 444.888 486.187 444.888H75.0891C68.4617 444.888 63.0891 439.515 63.0891 432.888V391.623Z"/>
    </mask>
    <path d="M62.0891 391.623C62.0891 384.443 67.9094 378.623 75.0891 378.623H486.187C493.367 378.623 499.187 384.443 499.187 391.623H497.187C497.187 385.548 492.262 380.623 486.187 380.623H75.0891C69.014 380.623 64.0891 385.548 64.0891 391.623H62.0891ZM498.187 444.888H63.0891H498.187ZM75.0891 444.888C67.9094 444.888 62.0891 439.067 62.0891 431.888V391.623C62.0891 384.443 67.9094 378.623 75.0891 378.623V380.623C69.014 380.623 64.0891 385.548 64.0891 391.623V432.888C64.0891 439.515 69.014 444.888 75.0891 444.888ZM486.187 378.623C493.367 378.623 499.187 384.443 499.187 391.623V431.888C499.187 439.067 493.367 444.888 486.187 444.888C492.262 444.888 497.187 439.515 497.187 432.888V391.623C497.187 385.548 492.262 380.623 486.187 380.623V378.623Z" fill="white" mask="url(#path-11-inside-1_145_39)"/>
    <rect x="35.3518" y="427.484" width="54.3872" height="72.5163" rx="12" fill="url(#paint1_linear_145_39)"/>
    <rect x="470.45" y="427.484" width="54.3872" height="72.5163" rx="12" fill="url(#paint2_linear_145_39)"/>
    <rect x="252.901" y="427.484" width="54.3872" height="72.5163" rx="12" fill="url(#paint3_linear_145_39)"/>
    <rect x="46.2292" y="439.449" width="32.6323" height="10.8774" rx="5.43872" fill="#1E1E1E"/>
    <rect x="46.2292" y="476.432" width="32.6323" height="10.8774" rx="5.43872" fill="#1E1E1E"/>
    <rect x="46.2292" y="457.941" width="32.6323" height="10.8774" rx="5.43872" fill="#1E1E1E"/>
    <rect x="263.778" y="439.449" width="32.6323" height="10.8774" rx="5.43872" fill="#1E1E1E"/>
    <rect x="263.778" y="476.432" width="32.6323" height="10.8774" rx="5.43872" fill="#1E1E1E"/>
    <rect x="263.778" y="457.941" width="32.6323" height="10.8774" rx="5.43872" fill="#1E1E1E"/>
    <rect x="481.327" y="439.449" width="32.6323" height="10.8774" rx="5.43872" fill="#1E1E1E"/>
    <rect x="481.327" y="476.432" width="32.6323" height="10.8774" rx="5.43872" fill="#1E1E1E"/>
    <rect x="481.327" y="457.941" width="32.6323" height="10.8774" rx="5.43872" fill="#1E1E1E"/>
    <defs>
    <linearGradient id="paint0_linear_145_39" x1="117.477" y1="214.83" x2="443.8" y2="214.83" gradientUnits="userSpaceOnUse">
    <stop stop-color="#A8A8A7"/>
    <stop offset="1" stop-color="#FEFDFD"/>
    </linearGradient>
    <linearGradient id="paint1_linear_145_39" x1="62.5454" y1="427.484" x2="62.5454" y2="500" gradientUnits="userSpaceOnUse">
    <stop stop-color="#B8B8B8"/>
    <stop offset="1" stop-color="#F8F8F8"/>
    </linearGradient>
    <linearGradient id="paint2_linear_145_39" x1="497.643" y1="427.484" x2="497.643" y2="500" gradientUnits="userSpaceOnUse">
    <stop stop-color="#B8B8B8"/>
    <stop offset="1" stop-color="#F8F8F8"/>
    </linearGradient>
    <linearGradient id="paint3_linear_145_39" x1="280.094" y1="427.484" x2="280.094" y2="500" gradientUnits="userSpaceOnUse">
    <stop stop-color="#B8B8B8"/>
    <stop offset="1" stop-color="#F8F8F8"/>
    </linearGradient>
    </defs>
    </svg>

</div>

  
<style>
  span {
    position: absolute;
  }
  span::before{
    content: " ";
    background-color: transparent;
    position: absolute;
    left: 0;
    -webkit-box-shadow: 10px 10px 300px 75px rgba(201,53,57,1);
    -moz-box-shadow: 10px 10px 300px 75px rgba(201,53,57,1);
    box-shadow: 10px 10px 300px 75px rgba(201,53,57,1);
  }

</style>