<section
    class="w-full max-w-7xl mx-auto flex flex-col lg:flex-row min-h-[600px] pt-24 px-4 lg:px-0"
>
    <article
        class="flex flex-col items-center text-center xl:items-start xl:text-start pl-4"
    >
        <p class="font-extrabold text-6xl w-full xl:max-w-xl">
            Conéctate al mundo de manera <span>rápida</span> y <span
                >segura</span
            >
        </p>
        <p class="text-neutral-500 my-6">
            Navega a través de Vanity VPN con cifrado de punta a punta y de alta
            velocidad
        </p>

        <a href="/contacto" rel="noopener noreferrer">
            <div class="py-2 px-5 rounded-lg bg-[--primary-color] w-fit">
                <span class="leading-4"> Contáctanos </span>
            </div>
        </a>
    </article>
    <div class="pr-4">
        <img
            src="/world-map.svg"
            alt="World map connections"
            class="hidden xl:inline w-fit"
            width="663px"
            height="303px"
        />
    </div>
</section>
