---
import BenefitsCards from "../components/BenefitsCards.astro";
import Brands from "../components/Brands";
import WorldMap from "../components/landing/WorldMap.astro";
import Pricing from "../components/Pricing.astro";
import ServerFeatures from "../components/ServerFeatures.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vanity VPN">
    <main class="w-full flex flex-col pt-16 ">
        <WorldMap />
        <Brands client:only="react" />
        <BenefitsCards />
        <ServerFeatures />
        <Pricing />
    </main>
</Layout>