---
interface Props {
    img: string;
    alt: string;
    title: string;
    desc: string;
}

const { desc, img, title, alt } = Astro.props;
---

<div
    class="text-start bg-[#25262B] p-6 lg:py-8 lg:px-10 rounded-lg shadow-xl hover:shadow-2xl hover:scale-105 transition"
>
    <img src={img} alt={alt} />
    <h2 class="mt-4 font-bold text-lg">{title}</h2>
    <div class="my-4 h-[1px] w-10 bg-[--primary-color]"></div>
    <p class="text-sm font-medium">{desc}</p>
</div>
