---

---

<footer class="bg-[--secundary-color] w-full">
    <section
        class="flex items-center justify-between py-4 w-full max-w-7xl mx-auto"
    >
        <p>2024 © VanityVPN - Derechos reservados</p>

        <div class="flex gap-4">
            <img
                src="/icons/twitter-icon.svg"
                alt="Twitter link"
                class="aspect-[24/23]"
            />
            <img
                src="/icons/discord-icon.svg"
                alt="Discord link"
                class="aspect-[30/23]"
            />
        </div>
    </section>
</footer>
